.InitialSettings-header {
    text-align: center;
}

.InitialSettings-body {
    text-align: center;
    width: 100%;
}

.InitialSettings-loading {
    display: flex;
    justify-content: center;
    width: 100%;
}