.VerseGameScreen-container {
    text-align: center;
}

.VerseGameScreen-loading {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    cursor: wait;
}

.VerseGameScreen-guessing {
   display: flex;
   width: 100%;
   justify-content: center;
   gap: 20px;
   font-size: 18px;
   font-weight: 600;
}

.VerseGameScreen-guesses-count {
   font-size: 25px;
}


.VerseGameScreen-bibleVersion {
   text-align: left;
   font-size: 20px;
   font-weight: 500;
}

.VerseGameScreen-text-container > p {
   padding: 5px;
   margin: 5px;
}

.VerseGameScreen-text-container {
   display: flex;
   flex-direction: column;
   text-align: left;
   gap: 0px;
   margin: 0 auto;
   width: 100%;
   max-width: 800px;
   /* max-height: 800px;
   overflow-y: auto; */
   border: 1px solid black;
   box-shadow: 2px 2px 5px black;
   background-color: #f5f5eb;
   border-radius: 10px;
   padding-left: 20px;
   padding-right: 20px;
}

.VerseGameScreen-select {
   width: 200px;
   font-size: 18px;
   padding:5px;
}

.VerseGameScreen-number {
   width: 75px;
   font-size: 18px;
   padding:5px;
}

.VerseGameScreen-previous-guesses-selected {
   font-weight: 600;
   color: red;
   transition: 0.3s ease-in-out;
}


.VerseGameScreen-select-border {
   border: 2px solid red !important;
   border-radius: 5px;
}

.VerseGameScreen-select-border:active {
   border: 2px solid red !important;
}

.VerseGameScreen-hints > p {
   font-size: 18px;
}