.NavigationBar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    background-color: black;
    padding-left: 20px;
    position: -webkit-sticky;
        position: sticky;
        top: 0;
}
.NavigationBar-nav-item {
    flex: 1;
    gap: 5px;
    text-align: center;
    font-size: 12px;
    color: white;
}

.NavigationBar-nav-logo {
    display: flex;
    width: 100%;
    align-items: flex-start;
}