@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.App-container {
    /* display: flex; */
    margin: none;
    padding: none;
    height: 100vh;
    overflow-x: none;
    overflow-y: auto;
}

* {
    font-family: 'Space Mono', monospace;
}

body {
    margin: 0px;
}