@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.App-container {
    /* display: flex; */
    margin: none;
    padding: none;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    font-family: 'Space Mono', monospace, sans-serif;
}

body {
    margin: 0px;
    font-family: 'Space Mono', monospace, sans-serif;
}